
<div class="container p-3">
    <div class="card mb-3">
        <div class="card-header">
            <h3>
                Senias
                <button style="float: right;" class="btn btn-primary rounded" type="button" (click)="openModal()">Agregar</button>
            </h3>
        </div>
        <div class="card-body">
            <table class ="table">
            <thead>
                <th>Contenido</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor= "let senia of senias">
                    <td>{{senia.contenido}}</td>
                    <td>
                        <button [routerLink]="['/senia', senia.idSenia]" type="button" class="btn btn-primary rounded">Detalles</button>
                        &nbsp;&nbsp;
                        <button (click)="deleteSenia(senia.idSenia)" type="button" class="btn btn-warning rounded">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<app-formulario-senia 
    [formStatus]="'CREATE'"
    (notify)="getSenias()"
></app-formulario-senia>