<footer class="footer" *ngIf="!doNotShow">
    <div class="container-fluid text-center text-md-left">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2">

                <h5>LenguaDeSeñas.net</h5>
                <p style="color: var(--secondary-bg)">Recopilamos señas, palabras, oraciones comunes y definiciones en español. Facilitamos el aprendizaje y comunicación en español para la comunidad de personas sordas, y en LSM para personas oyentes.</p>
            </div>

            <hr class="d-md-none pb-3">

            <div style="width: fit-content;" class="col-6 col-sm-5 col-md-2 col-lg-2 col-xl-1">

                <h5>Servicios</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="a-dark" href="#!">Aplicaciones</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Diccionario</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Frases</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Parrafos</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Texto a voz</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Voz a texto</a>
                    </li>
                </ul>

            </div>

            <div style="width: fit-content;" class="col-6 col-sm-5 col-md-2 col-lg-2 col-xl-1">
                <h5>Acerca de Nosotros</h5>
                <ul class="list-unstyled">
                    <li>
                        <a class="a-dark" href="#!">Equipo</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Impacto Social</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Objetivo</a>
                    </li>
                    <li>
                        <a class="a-dark" href="#!">Tienda</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-12">

                <ul class="list-unstyled">
                    <a href="#" style="text-decoration: none;" class="fa fa-android"></a>
                    <a href="#" style="text-decoration: none;" class="fa fa-apple"></a>
                    <a href="#" style="text-decoration: none;" class="fa fa-facebook"></a>
                    <a href="#" style="text-decoration: none;" class="fa fa-twitter"></a>
                    <a href="#" style="text-decoration: none;" class="fa fa-github"></a>
                </ul>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="justify-content-center">© 2020 Copyright:
                <a class="a-dark" href="https://LenguaDeSeñas.net/"> LenguaDeSeñas.net</a>
            </div>
        </div>

    </div>
</footer>