<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-1 col-xl-2 d-none d-lg-block d-xl-block flex"> </div>

        <!-- Columna de Contenido -->
        <div class="col-lg-7 col-xl-6 d-block" style="max-width: 640px;">
            <h1>Palabras:</h1>

            <div class="accordion" id="accordionFrases">
                <!-- Autogenerar tarjetas de acordíon por letra del abecedario------------------->
                <div class="card">
                    <div class="card-header" id="headingA">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFrases" aria-expanded="false" aria-controls="collapseA">
                            Listado
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFrases" class="collapse" aria-labelledby="headingA" data-parent="#accordionFrases">
                        <div class="card-body">
                            <!-- Obtener frases por índice alfabético por API REST-->
                            <div class="card" *ngFor="let palabra of palabras">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ palabra.nombre }} 
                                    <span *ngIf="isLoggedIn" class="pull-right"><i class="fa heart" [ngClass]="{'fa-heart': favoritos.includes(palabra.idPalabra), 'fa-heart-o': !favoritos.includes(palabra.idPalabra)}" 
                                        aria-hidden="true" (click)="accion(palabra.idPalabra)"></i></span>
                                </h5>
                                <div class="card-text">Categoria: <a routerLink="#">{{ palabra.categoria.nombre }}</a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna de anuncios -->
        <div class="col-lg-3 col-xl-2 d-none d-lg-block d-xl-block">
            <img src="./assets/img/300x600.png" class="image" style="width: 300; height: 600;" alt="Anuncio">
        </div>

        <div class="col-lg-1 col-xl-2 d-none d-lg-block d-xl-block flex"> </div>
    </div>
</div>