<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" *ngIf="!doNotShow">
    <a class="navbar-brand" href="#">LenguaDeSeñas.net</a>
    <button class="navbar-toggler" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="categoria">Categorías <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listas</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" routerLink="indice_palabras">Palabras</a>
                    <a class="dropdown-item" routerLink="indice_frases">Frases</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Herraminetas</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="#">Párrafos</a>
                    <a class="dropdown-item" href="#">Texto a Voz</a>
                    <a class="dropdown-item" href="#">Voz a Texto</a>
                    <a class="dropdown-item" href="#">Apps</a>
                </div>
            </li>
            <li class="nav-item active">
                <a *ngIf="loggedIn" class="nav-link" (click)="cerrarSesion()" href="">Cerrar Sesión</a>
                <a *ngIf="!loggedIn" class="nav-link" routerLink="login">Iniciar Sesión</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Buscar palabras y frases">
        </form>
    </div>
</nav>