<div class="text-center" style="margin-top: 20vh;">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
        <img class="mb-4" src="./assets/img/logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
        
        <label for="email" class="sr-only">Correo Electrónico</label>
        <input type="email" id="email" class="form-control" placeholder="Tu e-mail" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Se require una dirección de correo electrónico.</div>
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.email">Dirección de correo electrónico inválida.</div>
        </div>

        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" id="password" class="form-control" placeholder="Tu contraseña" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Se requiere tu contraseña.</div>
        </div>

        <div class="alert alert-danger" *ngIf="submitted && loginFailed">
            Error en el registro:<br />{{ errorMessage }}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
    </form>
    <i class="fa fa-question-circle-o" aria-hidden="true"></i> ¿No nos conocemos? <a href="/registro">¡Registrate!</a>
    <p class="mt-5 mb-3 text-muted">© 2020-2030 LenguaDeSeñas.net</p>
</div>