<div class="container">
    <div class="card mb-3">

        <!-- Header  -->
        <div class="card-header">
            <h3 *ngIf="pais">{{pais.pais}} ({{ pais.abreviatura }}) <button style="float: right;" (click)="openModalPais()"type="button"  class="btn btn-primary rounded"> Editar </button> </h3>
        </div>
</div>

<app-estado
    *ngIf="pais"
    [idPais]="pais.idPais"
></app-estado>

<div class="modal" id="paisModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Editar Pais</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="paisForm" (ngSubmit)="updatePais()">
                    <div class="form-group">
                        <label for="pais">Nombre<span class="text-danger">*</span></label>
                        <input type="text" formControlName="pais" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pais.errors }">
                        <div *ngIf="submitted && f.pais.errors" class="invalid-feedback">
                            <div *ngIf="f.pais.errors.required">El nombre del pais es obligatorio</div>
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="apellidos">Abreviatura<span class="text-danger">*</span></label>
                        <input type="text" formControlName="abreviatura" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.abreviatura.errors }" />
                        <div *ngIf="submitted && f.abreviatura.errors" class="invalid-feedback">
                        <div *ngIf="f.apellidos.errors.required">La abreviatura del pais es obligatoria</div>
                        </div>
                    </div>
                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>
                    <div class="modal-footer">
                        <button type="submit"  class="btn btn-primary rounded">Guardar</button>
                        <button type="button"  class="btn btn-warning rounded"data-dismiss="modal" >Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


