<!DOCTYPE html>
<html lang="es_MX">

<head>
    <title>Índice de Palabras</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-1 col-xl-2 d-none d-lg-block d-xl-block flex"> </div>

            <!-- Columna de Contenido -->
            <div class="col-lg-7 col-xl-6 d-block" style="max-width: 640px;">
                <h1>Índice de palabras</h1>

                <div class="accordion" id="accordionPalabras">

                    <!-- Autogenerar tarjetas de acordíon por letra del abecedario------------------->
                    <!-- Incluir tarjeta para números-->
                    <div class="card">
                        <div class="card-header" id="headingA">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseA" aria-expanded="false" aria-controls="collapseA">
                                #
                                </button>
                            </h2>
                        </div>
                        <div id="collapseA" class="collapse" aria-labelledby="headingA" data-parent="#accordionPalabras">
                            <div class="card-body">
                                <!-- Obtener Palabras por índice alfabético por API REST-->
                                Palabras que inician con números
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------------------------------------------------------->

                </div>

            </div>

            <!-- Columna de anuncios -->
            <div class="col-lg-3 col-xl-2 d-none d-lg-block d-xl-block">
                <img src="./assets/img/300x600.png" class="image" style="width: 300; height: 600;" alt="Anuncio">
            </div>

            <div class="col-lg-1 col-xl-2 d-none d-lg-block d-xl-block flex"> </div>
        </div>
    </div>
</body>